<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8;"/>
    <title>Lu&amp;Yue Photo Gallery</title>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'/>

    <!-- style css -->
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- animation -->
    <link rel="stylesheet" href="/css/set.css"/>
    <!--<link rel="stylesheet" href="css/animate.css" />-->

    <!-- header navigation -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


     <link rel="shortcut icon" href="/Images/icon.ico" type="image/x-icon" />

</head>

<body>

<!--header navigation Start-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lu&amp;Yue Photo Gallery</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="#introduce">about</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Album
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">My Album</li>
                        <li><a href="/album">show photos</a></li>
                        <li><a href="/album">upload photos</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
<!--header navigation Ends-->

{{{body}}}



<!-- About us Starts -->

<div class="content-block" id="introduce">
    <div class="container">
        <header class="block-heading">
            <h1>About</h1>
            <p>Love life, Love programming</p>
        </header>
        <section class="block-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="introduce">
                        <img src="/images/yue.svg"/>
                        <br><strong>Yue Wang</strong><br/>
                        <span>The coolest pirate</span>
                    </div>
                </div>

                    <div class="col-md-4">
                        <div class="introduce">
                            <img src="/images/logo_small.svg"/>
                            <p>This website is for sharing photos, hope you will like it.</p>
                            <strong>Lu&amp;Yue Photo Gallery</strong><br/>
                        </div>

                    </div>

                <div class="col-md-4">
                    <div class="introduce">
                        <img src="/images/lu.svg"/>
                        <br><strong>Jinlu Li</strong><br/>
                        <span>A bear who writes code</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- #About us Ends -->

</body>
</html>