
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/set.css"/>

    <!-- form css -->
    <link href="/css/form.css" rel="stylesheet" />

<!-- Photo album Starts -->
<div id="album" class="grid animated bounceInLeft">
    <figure class="effect-lily">
        <img src="images/photo/001.png" alt="image001"  />
        <figcaption>
            <h2>Nature</h2>
            <p>Do not delay anything that adds laughter and joy to your life.<br/>
                <a href="images/photo/001.png" title="1">View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-lily">
        <img src="images/photo/002.png" alt="image002"  />
        <figcaption>
            <h2>Events</h2>
            <p>In order to be irreplaceable, one must always be different.<br/>
                <a href="images/photo/002.png" title="1">View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-lily">
       <img src="images/photo/003.png" alt="image003"  />
        <figcaption>
            <h2>music</h2>
            <p>Time does not dye,Memories do not light.<br/>
                <a href="images/photo/003.png" title="1">View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-lily">
        <img src="images/photo/004.png" alt="image004"  />
        <figcaption>
            <h2>Travel</h2>
            <p>Love the life you live, live the life you love.<br/>
                <a href="images/photo/004.png" title="1">View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-lily">
        <img src="images/photo/005.png" alt="image005"  />
        <figcaption>
            <h2>Life</h2>
            <p>Love the life you live, live the life you love.<br/>
                <a href="images/photo/005.png" title="1">View more</a></p>
        </figcaption>
    </figure>
    <figure class="effect-lily">
     <img src="images/photo/006.png" alt="image006"  />
        <figcaption>
            <h2>Tea</h2>
            <p>Love the life you live, live the life you love.<br/>
                <a href="images/photo/006.png" title="1">View more</a></p>
        </figcaption>
    </figure>

</div>
<!--  #Photo album Ends -->

<!--Contact Starts-->
<div id="contact" class="row">

        <h2>Get in touch with us</h2>

        <div id="contact_content" class="contactform">
            <form action="#" method="post" name="post_comment">
                <div>
                    <input type="text" placeholder="Name"/>
                </div>
                <div>
                    <input type="text" placeholder="Email address"/>
                </div>
                <div>
                    <textarea rows="5" placeholder="Message"></textarea>
                </div>
            </form>
        </div>
        <button class="btn">Send</button>


</div>

<!--Contact Ends-->


<!-- comments -->

<div id="comments">
       <h2>Comments On Our Website</h2>
        <p>"{{comments_content_1}}"</p>
          <p>"{{comments_content_2}}"</p>
            <p>"{{comments_content_3}}"</p>

</div>
