
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'/>

    <!--js for jump home page-->
    <script src="/js/jumphome.js"></script>

    <!--js for showing user name-->
    <script src="/js/album.js"></script>

<div class="container">
    <div class="jumbotron register_bar">
         <h1 id="userem"></h1>
        <h1>{{{result}}}</h1>
        <p>{{{detail}}}</p>
        <div>after <span id="time">10</span>second(s), jump to home page</div>
    </div>
</div>